.infobox-section {
  .info-box {
    box-shadow: 0px 12px 16px rgba(40, 41, 61, 0.0364);
    border-radius: 12px;
    padding: 48px 40px;
    .info-description{
      font-size:1.6rem;
      line-height:2.8rem;
      margin-bottom:1rem;
      min-height:80px;
      @include media-breakpoint-down(md){
        min-height:auto;      
      }
    }
    h4{
      margin:15px 0 10px; 
      font-weight:$font-weight-semibold;
    }
    @include media-breakpoint-down(md){
      box-shadow: 3px 4px 9px rgb(40 41 61 / 12%);
    }
  }
}