
.blog-listing-section .filter-wrap {
    text-align: center;
  }
  .blog-listing-section .filter-wrap span {
    position: relative;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0 25px;
  }
  .blog-listing-section .filter-wrap span:before {
    content: "\f107";
    font-family: "fontawesome";
    right: 20px;
    position: absolute;
    padding: 10px 0 10px 10px;
    cursor: pointer;
  }
  .blog-listing-section .filter-wrap ul {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0 60px;
  }
  @media (max-width: 1199.98px) {
    .blog-listing-section .filter-wrap ul {
      justify-content: center;
      margin: 20px 0 40px;
    }
  }
  @media (max-width: 767.98px) {
    .blog-listing-section .filter-wrap ul {
      display: none;
    }
  }
  .blog-listing-section .filter-wrap ul li {
    padding: 10px;
    border-radius: 8px;
    margin: 0;
    line-height: 1;
    margin: 0 10px;
    cursor: pointer;
    margin: 0;
    width: 100%;
    text-align: left;
  }
  .blog-listing-section .btn, .blog-listing-section .woocommerce-notices-wrapper .woocommerce-message a.button, .woocommerce-notices-wrapper .woocommerce-message .blog-listing-section a.button, .blog-listing-section .woocommerce-info a.button, .woocommerce-info .blog-listing-section a.button, .blog-listing-section .wpcf7 input[type=submit], .wpcf7 .blog-listing-section input[type=submit] {
    display: table;
    margin: 40px auto 0;
  }