footer{
	padding: 200px 0 0;
  	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat;
	@include media-breakpoint-down(md){
		padding: 50px 0 0;
  	}
  	@include media-breakpoint-down(lg){
		padding: 100px 0 0;
  	}
	svg{
		&.footer-shape-blue,&.footer-shape-yellow{
			position: absolute;
			width: 100%;
			left: 0;
			top: 0;
			height: auto;
		}
		&.footer-shape-yellow{
			z-index: -1;
		}
	}
	.shape-color {
		position: absolute;
		left: 0;
		width: 100%;
		height: 80%;
		bottom: 0;
		@include media-breakpoint-down(md){
			height: 90%;
		}
	}
}

.footer-wrap{
	position: relative;
  	z-index: 1;

	nav li a {
		text-decoration: none;
		margin-bottom: 1.5rem;
		display: block;
		@include transition(all 0.3s ease-in-out);
		@include media-breakpoint-down(md){
			margin-bottom: 0;
		}
	}
	h5, .h5 {
    	font-weight: $font-weight-bold;;
		font-size:1.4rem;
		margin-bottom: 2rem;
	}	
	h6, .h6 {
    	font-weight: $font-weight-bold;;
		font-size:1.4rem;
		margin-bottom: 2rem;
	}
	.footer-content{
		@include media-breakpoint-down(md){
		  padding-bottom:0;
		}	
		max-width: 496px;
    	padding-left: 0;
		p{
			font-size: 1.8rem;
			line-height:2.4rem;
		}

		nav{
			&.contact-details{
				ul{
					li{
						a{
							img{
								max-width: 20px;
  								margin-right: 10px;
							}
						}
					}
				}
			}
		}
		.contact-details{
			ul{
				li{
					i{
						margin-right: 10px;
					}
				}
			}
		}
		.social-nav{
			ul{
				display: flex;
				li{
					margin: 0 5px;
					a {
						padding: 5px;
						font-size: 15px;
						text-decoration: none;
						i {
							font-size: 27px;
						}
					}
				}
			}
		}
	}
	
}

.social-wrap{
	position: relative;
  	z-index: 1;
	@include media-breakpoint-down(md){
		padding:15px 0;
		text-align:center;
	}	
	margin: 30px 0;
	padding: 22px 0;
	.container {
		margin-top: 30px;
		padding: 22px 0;
		@include media-breakpoint-down(md){
			padding: 15px;
    		text-align: center;		
		}
		ul{
			li {
				display: inline-block;
				padding-right: 30px;
				@include media-breakpoint-down(md){
					padding: 0 15px;	
				}
				a {
					@include transition(all 0.3s ease-in-out);
				}
			}
		}
		.copyright-wrap {
			text-align: center;
		}
	}

	ul li {
		display: inline-block;
		padding-right: 30px;
		@include media-breakpoint-down(md){
			padding: 0  15px;			
		}

		a {			
			@include transition(all 0.3s ease-in-out);
			&:hover{				
			}
		}
	}
	.copyright-wrap {
	@include media-breakpoint-down(md){
		text-align:center;
		padding-top:10px;
	}
    text-align: right;
    font-size: 1.5rem;
		line-height:2.5rem;
	}
	.container {
		margin-top: 30px;
		padding: 22px 0;
	}
}