.page-not-found {
  height:calc(100vh - 94px);
  display:flex;
  align-items:center;
  h1{
   font-weight:$font-weight-bold;
  }
  h2{
    font-weight:$font-weight-semibold;
    margin-bottom:0;
  }  
  .btn-sm{
    padding: 12px 33px;
  }
}