
.signup_modal .form-wrap {
    max-width: 450px;
    margin-left: auto;
    padding: 38px 50px;
    border: 0;
  }
  @media (max-width: 991.98px) {
    .signup_modal .form-wrap {
      margin: 30px auto 0;
      padding: 38px 20px;
    }
  }
  .signup_modal .form-wrap .modal-header {
    border: 0;
    padding: 0;
  }
  .signup_modal .form-wrap .modal-header .btn-close {
    border: 0;
    padding: 0;
    height: 24px;
    width: 24px;
    line-height: 20px;
    border-radius: 100%;
    font-size: 29px;
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 1;
  }
  .signup_modal .form-wrap h2, .signup_modal .form-wrap .h2 {
    margin-bottom: 40px;
  }
  .signup_modal .form-wrap .gform_wrapper.gravity-theme .gfield input, .signup_modal .form-wrap .gform_wrapper.gravity-theme .gfield select {
    border: none;
  }