.team-section .team-wrap {
    max-width: 100%;
    text-align: center;
  }
  .team-section .team-wrap .team-member {
    padding-bottom: 20px;
  }
  @media (max-width: 991.98px) {
    .team-section .team-wrap .team-member {
      padding-bottom: 30px;
    }
  }
  .team-section .team-wrap .team-member .team-member-wrap {
    background: #fff;
    height: 100%;
    box-shadow: 0 12px 16px rgba(40, 41, 61, 0.04);
  }
  .team-section .team-wrap .team-member .team-member-wrap .member-img {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
  }
  .team-section .team-wrap .team-member .team-member-wrap .member-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  .team-section .team-wrap .team-member .team-member-wrap .member-img img:hover {
    transform: scale(1.2);
  }
  .team-section .team-wrap .team-member .team-member-wrap .member-details {
    padding: 2rem;
  }
  .team-section .team-wrap .team-member .team-member-wrap .member-details h4, .team-section .team-wrap .team-member .team-member-wrap .member-details .h4 {
    color: #212529;
  }
  @media (max-width: 767.98px) {
    .team-section .team-wrap .team-member:last-child {
      padding-bottom: 0;
    }
  }