.call-to-action-section {
    .full-width-wysiwyg .editor-design {
        p {
             color: rgba($white, 0.8);
        }
    }
     .btn,input[type="button"],input[type="reset"],input[type="submit"]{
        &:hover{
            background-color:$white;
            color:$primary;
            border-color:$white;
        }
      }
}