.four-col-team-section{   
    .shape-color {
        background-color:$light-gray;
    }
    .team-member-wrap{
        box-shadow: 2px 2px 14px rgba($dark, 0.1);
        .member-details{
        color:$dark;                       
           h4{
                color:$primary;
                &:hover{
                  color:$yellow;  
                }
            }   
            a{
                color:$yellow;
                &:hover{
                  color:$primary;
                }
            }                
        }   
    }
}
.pagination {    
    li{
        .page-link {            
            background:$white;
            color:$primary;         
        }       
    }
}

.blog-listing-section{
    .filter-wrap {      
        h4{
            color:$primary;
        } 
        span{                     
            background:$yellow;           
            color:$primary;                       
        }
        ul {
            li {               
                &:hover {
                    background:$yellow;
                    color:$primary;
                }
                &.active{
                    background:$yellow;
                    color:$primary;
                    @media(max-width:767px) {            
                        background:transparent; 
                        color:$primary;
                    }
                }
            }
        }        
        
    }   
}