.infobox-section{
  .editor-design{
    h2{
      color:$white;
    }
    p{
      color:rgba($white, 0.8);
    }
  }
  .info-box {
    background-color:$white;
    h4{
      color:$primary;
    }
    p{
      color:rgba($primary, 0.8);
    }
    &:hover{
      background-color:$yellow;
    }
  }
}

.infobox-section.resource-infobox{ 
  .editor-design{   
    h2,p{
      color:$primary;
    }    
  } 
  .info-box{
    box-shadow:0 5px 20px rgba($dark, 0.2);
    }
  }
.checklist-infobox{
  .info-box{
    &:hover{
    .btn,input[type="button"],input[type="reset"],input[type="submit"]{
        background-color: $primary;
        color:$white;
        border-color:$primary;
      }
    }
  }
}


.accordion-item .accordion-button{
    background-color:$primary;
    color:$white;    
}
.accordion .accordion-item .accordion-body {
    background-color:rgba($dark, 0.08);
}